beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
Deprecated==1.2.10
Django==2.1.15
django-autoslug==1.9.8
django-cleanup==5.1.0
django-crispy-forms==1.10.0
django-phone-field==1.8.1
django-phone-verify==2.0.0
django-phonenumber-field==5.0.0
djangorestframework==3.12.2
idna==2.10
moncashify==0.1.0
nexmo==2.5.2
phonenumbers==8.12.13
Pillow==8.0.1
PyJWT==1.7.1
python-dotenv==0.15.0
pytz==2020.4
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
twilio==6.48.0
urllib3==1.26.2
wrapt==1.12.1
