{% extends 'bis/base.html' %} {% block title %}BusHaiti | Contactez Nous {% endblock %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'bis/images/backgrounds/bredcump.png' %})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>Contactez Nous</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="/" title="Home">Acceuil</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        Contactez nous

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->


<section class="contact-area">
    <div class="rt-design-elmnts rtbgprefix-contain" style="background-image: url({% static 'bis/images/all-img/abt_vec_3.png' %})">

    </div><!-- /.rt-design-elmnts -->
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>Contactez Nous</span>
                        
                        Entrer en contact
                    </h2><!-- /.rt-section-title -->
                    <p>N'importe quel type d'informations de voyage, n'hésitez pas à nous contacter pour imiditer le support client. Nous sommes ravis de vous entendre</p>
                    <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                    <form action="#" class="rt-form rt-line-form">
                        <input type="text" placeholder="Nom Complet" class="form-control rt-mb-30">
                        <input type="email" placeholder="Email" class="form-control rt-mb-30">
                        <input type="text" placeholder="Sujet" class="form-control rt-mb-30">
                        <textarea placeholder="Message" class="form-control rt-mb-30"></textarea>
                        <input type="submit" value="ENVOYER" class="rt-btn rt-gradient pill text-uppercase rt-mb-30">
                    </form>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
    </div><!-- /.container -->
</section>


<section class="rt-map-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto col-md-6">
                <div class="rt-single-icon-box icon-center text-center justify-content-center shdoaw-style wow fadeInUp">
                    <div class="icon-thumb">
                        <img src="{% static 'bis/images/icons-image/con-1.png' %}" alt="box-icon" draggable="false">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h5>Notre adresse</h5>
                        <p>97 Avenue Panaméricaine,<br>
                        Petion-Ville, Haiti</p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 mx-auto col-md-6">
                <div class="rt-single-icon-box icon-center text-center justify-content-center shdoaw-style wow fadeInUp" data-wow-duration="1.5s">
                    <div class="icon-thumb">
                        <img src="{% static 'bis/images/icons-image/con-2.png' %}" alt="box-icon" draggable="false">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h5>Phone & Email</h5>
                        <p>+509 37 55 0999 <br>
                        info@bushaiti.com</p>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 mx-auto col-md-6">
                <div class="rt-single-icon-box icon-center text-center justify-content-center shdoaw-style wow fadeInUp" data-wow-duration="2s">
                    <div class="icon-thumb">
                        <img src="{% static 'bis/images/icons-image/con-3.png' %}" alt="box-icon" draggable="false">
                    </div><!-- /.icon-thumb -->
                    <div class="iconbox-content">
                        <h5>Reste en contact</h5>
                        <ul class="rt-social rt-circle-style">
                            
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div><!-- /.iconbox-content -->
                </div><!-- /.rt-single-icon-box -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="googleMap">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121020.46092514627!2d-72.35450108287729!3d18.579024170820887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb9dd57503eaa91%3A0x3cd5815df929aa08!2sPort-au-Prince!5e0!3m2!1sfr!2sht!4v1603380729396!5m2!1sfr!2sht"
            width="100%" height="582" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>



<!-- 
    ============= Brands area start==========
 -->

<section class="brands-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>REGARDEZ NOS</span>
                        Partenaires de confiance
                    </h2><!-- /.rt-section-title -->
                    <p>
                        Nous nous engageons à être le meilleur partenaire. BusHaiti croit en être votre partenaire de confiance et gagner cette confiance grâce à la confiance et à la performance dans le service et le support.
                    </p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <ul class="rt-border-brands">
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block">
            <img src="{% static 'bis/images/brands/brands-1.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="1s">
            <img src="{% static 'bis/images/brands/brands-2.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="1.5s">
            <img src="{% static 'bis/images/brands/brands-3.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="2s"> 
            <img src="{% static 'bis/images/brands/brands-4.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="2.5s">
            <img src="{% static 'bis/images/brands/brands-4.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="3s">
            <img src="{% static 'bis/images/brands/brands-3.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="3.5s">
            <img src="{% static 'bis/images/brands/brands-2.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
    <li class="single-border-brands">
        <a href="#" class="wow flipInX d-block" data-wow-duration="4s">
            <img src="{% static 'bis/images/brands/brands-1.png' %}" alt="brands image" draggable="false">
        </a>
    </li><!-- /.single-border-brands -->
</ul><!-- /.rt-border-brands -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.containe -->
</section>

{% endblock %}