{% extends 'bis/base.html' %} {% block title %}BusHaiti | FAQ {% endblock %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'bis/images/backgrounds/bredcump.png' %})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>Comment ça fonctionne</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="/" title="Home">Acceuil</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        Comment ça fonctionne

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->

<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title"><span>Comment ça fonctionne</span>
                    Facile à démarrer</h2>
                    <p>Vous gérez la réservation. on prend soin du reste.</p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-8 -->
        </div><!-- ./row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row align-items-center">
            <div class="col-lg-6 mb-0 mb-md-4">
                <div class="rt-icon rt-hw-45 rt-circle icon-glow-1 icon-gradinet-1 f-size-20">
                    01
                </div><!-- /.rt-icon -->
                <img src="{% static 'bis/images/all-img/work-img-1.png' %}" alt="work image" draggable="false">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-5 offset-lg-1 mb-0 mb-md-4">
                <div class="rt-icon rt-hw-65 f-size-45  rt-dotted-primary text-gradinet-primary rt-mb-30">
                        <i class="icofont-hand-drag1"></i>
                </div><!-- /.rt-icon -->
                <h4 class="f-size-24 rt-semiblod rt-mb-20">Choisissez votre destination</h4>
                <div class="text-424">
                    <p class="f-size-14 ">Consultez des centaines Bus de voyages en ligne. Voyagez seul ou emmenez la famille. Cela ne tient qu'à toi. Choisissez l'endroit où vous souhaitez aller, puis cliquez sur le bouton <b>Rechercher</b> pour vérifier les bus disponible et effectuer votre réservation.</p>
                </div><!-- /.text-424 -->
               
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row align-items-center">
            <div class="col-lg-5 mb-0 mb-md-4">
                <div class="rt-icon rt-hw-65 f-size-45  rt-dotted-primary text-gradinet-primary rt-mb-30">
                    <i class="icofont-hand-drag1"></i>
                </div><!-- /.rt-icon -->
                <h4 class="f-size-24 rt-semiblod rt-mb-20">Sélectionnez vos options</h4>
                <div class="text-424">
                    <p class="f-size-14 ">Choisissez votre date de départ l'avance.
                    Ajouter de l'argent de poche?. Vous pouvez choisir parmi différentes méthodes de paiement pour vos réservations et des services supplémentaires (par exemple, sièges, bagages supplémentaires, etc.), en fonction du ville dans lequel la réservation a lieu et de l'heure de la réservation. Mais quelle que soit la méthode que vous choisissez, vous pouvez être assuré que votre paiement est toujours sécurisé.</p>
                </div><!-- /.text-424 -->
            
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 offset-lg-1">
                <div class="rt-icon rt-hw-45 rt-circle icon-glow-1 icon-gradinet-1 f-size-20">
                    02
                </div><!-- /.rt-icon -->
                <img src="{% static 'bis/images/all-img/work-img-2.png' %}" alt="work image" draggable="false">
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row align-items-center">
            <div class="col-lg-6 mb-0 mb-md-4">
                <div class="rt-icon rt-hw-45 rt-circle icon-glow-1 icon-gradinet-1 f-size-20">
                    03
                </div><!-- /.rt-icon -->
                <img src="{% static 'bis/images/all-img/work-img-3.png' %}" alt="work image" draggable="false">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-5 offset-lg-1">
                <div class="rt-icon rt-hw-65 f-size-45  rt-dotted-primary text-gradinet-primary rt-mb-30">
                    <i class="icofont-runner-alt-1"></i>
                </div><!-- /.rt-icon -->
                <h4 class="f-size-24 rt-semiblod rt-mb-20">Obtenez une confirmation et profitez</h4>
                <div class="text-424">
                    <p class="f-size-14 ">Une fois terminer, un Email de notre équipe de service à la clientèle vous répondra pour comfirmer votre paiments une fois effectuez et s'assurer que la réservation se déroule correctement. L'expérience et l'expertise nécessaires pour répondre à tous vos besoins de voyage. Inscrivez-vous et nous vous enverrons les meilleures offres</p>
                </div><!-- /.text-424 -->
        
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- ./ copntainer -->
</section>

<!-- 
    ======== call to action start====
 -->
 <div class="spacer-top"></div><!-- /.spacer-bottom -->
<div class="bg-gradient-primary call-toaction-fullwidth rt-pt-100 rt-pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-lg-9 mx-auto">
                            <div class="rt-section-title-wrapper text-white text-center">
                                <h2 class="rt-section-title">
                                    <span>Gagnez du temps, économisez de l'argent</span>
                                    Commençons
                                </h2><!-- /.rt-section-title -->
                                <p>Nous avons les connaissances, l'expérience et l'expertise nécessaires pour répondre à tous vos besoins en matière de voyage. Inscrivez-vous et nous vous enverrons les meilleures offres</p>
                                <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
                                <a href="#" class="rt-btn rt-light pill rt-xl rt-Bshadow-1 text-uppercase">Sign UP</a>
                            </div><!-- /.rt-section-title-wrapper- -->
                        </div><!-- /.col-lg-7 -->
                    </div><!-- /.row -->
                </div><!-- /.inner-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.ct-box-2 -->

<div class="spacer-top"></div><!-- /.spacer-bottom -->

<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title"><span>C'est sur!</span>
                    
                    La sécurité est notre priorité absolue</h2>
                    <p>La sécurité est une priorité absolue pour nous. Nous travaillons pour protéger vos informations personnelles en utilisant des mesures de protection, des procédures et des pratiques appropriées et généralement acceptées pour la sécurité physique et en ligne.</p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-8 -->
        </div><!-- ./row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row align-items-center">
            <div class="col-lg-5 mb-0 mb-md-4">
                <div class="icon-thumb rt-mb-30">
                    <img src="{% static 'bis/images/all-img/iconx-1.png' %}" alt="icon-image" draggable="false">
                </div><!-- /.icon-thumb --> 
                <h4 class="f-size-24 rt-semiblod rt-mb-20">Un soutien personnalisé</h4>
                <div class="text-424">
                    <ul class="rt-list">
                        <li><span class="rt-pr-4"><i class="icofont-check-circled"></i></span> BusHaiti se chargera de la médiation entre l'hôte et le client en cas d'incident ou de dommage.</li>
                        <li><span class="rt-pr-4"><i class="icofont-check-circled"></i></span>BusHaiti trouvera une solution personnalisée pour résoudre le problème.</li>
                    
                        <li><span class="rt-pr-4"><i class="icofont-check-circled"></i></span>BusHaiti vous indemnisera en cas d'incident imprévu ou de dommages.</li>
                    </ul>
                </div><!-- /.text-424 -->
                <a href="#" class="rt-btn rt-gradient rt-rounded text-uppercase rt-sm rt-mt-25">Soumettez une demande</a>
        
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6 offset-lg-1">
                <img src="{% static 'bis/images/all-img/work-img-4.png' %}" alt="work image" draggable="false">
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row align-items-center">
            <div class="col-lg-6 mb-0 mb-md-4">
               
                <img src="{% static 'bis/images/all-img/work-img-5.png' %}" alt="work image" draggable="false">
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-5 offset-lg-1">
                <div class="icon-thumb rt-mb-30">
                    <img src="{% static 'bis/images/all-img/iconx-2.png' %}" alt="icon-image" draggable="false">
                </div><!-- /.icon-thumb -->
                <h4 class="f-size-24 rt-semiblod rt-mb-20">Protection contre les dommages</h4>
                <div class="text-424">
                    <ul class="rt-list">
                        <li><span class="rt-pr-4"><i class="icofont-check-circled"></i></span> BusHaiti se chargera de la médiation entre l'hôte et le client en cas d'incident ou de dommage.</li>
                        <li><span class="rt-pr-4"><i class="icofont-check-circled"></i></span>BusHaiti trouvera une solution personnalisée pour résoudre le problème.</li>
                    
                        <li><span class="rt-pr-4"><i class="icofont-check-circled"></i></span>BusHaiti vous indemnisera en cas d'incident imprévu ou de dommages.</li>
                    </ul>
                </div><!-- /.text-424 -->
                <a href="#" class="rt-btn rt-gradient rt-rounded text-uppercase rt-sm rt-mt-25">Lire la suite</a>

            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        
        
    </div><!-- ./ copntainer -->
</section>
{% endblock %}