{% extends 'bis/base.html' %} {% block title %}Acceuil de BusHaiti{% endblock %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<!-- 
    !============= Banner Area Start ===========!
 -->


<section class="rt-banner-area">
    <div class="single-rt-banner rt-banner-height" style="background-image: url({% static 'bis/images/all-img/banner01.png' %})">
        <div class="container">
            <div class="row  rt-banner-height align-items-center">
                <div class="col-lg-9">
                    <div class="rt-banner-content" style="margin-top: 15px;">
                        <h1 class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                            Bienvenue sur <br> BusHaiti!
                        </h1>
                        <p class="wow fade-in-top">
                            Trouvez un Bus et reservez votre ticket s'est devenue encore plus simple et plus rapide avec BusHaiti <br> Vous n'aurez qu'a choisir votre Position, votre destination et la date pour en reservez!!
                        </p>

                        <div class="rt-banner-searchbox standard-search wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane show active" id="rt-item_a_four" role="tabpanel" aria-labelledby="rt-item_a_four">
                                    <form action="{% url 'passengers:findbus' %}" method="get">
                                        <div class="rt-input-group">
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" name="source" id="search_input" placeholder="Votre position actuel..." />
                                            </div>
                                            <!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control" name="destination" id="search_input2" placeholder="Votre destination..." />
                                            </div>
                                            
                                            <div class="single-input  col-rt-in-3">
                                                <input type="text" class="form-control rt-date-picker has-icon" name="date_depart" placeholder="Date de depart">
                                                <span class="input-iconbadge"><i class="icofont-ui-calendar"></i></span>
                                            </div>
                                           
                                            <!-- /.single-input -->
                                            <div class="single-input  col-rt-in-3">
                                                <button type="submit" style="width: 100%"><i class="icofont-search"></i></button>
                                            </div>
                                            <!-- /.single-input -->
                                        </div>
                                        <!-- /.rt-input-group -->
                                    </form>
                                    <!-- ./ form -->
                                </div>
                            </div>
                        </div>
                        <!-- /.rt-banner-searchbox -->


                        <!-- <ul class="nav serachnavs wow fade-in-bottom" id="rtMultiTab" role="tablist" data-wow-duration="1.5s" data-wow-delay="1.5s">

                        <!--    <li class="nav-item">-->
                        <!--        <a class="nav-link active" id="four-tab" data-target="#rt-item_b_four" data-secondary="#rt-item_a_four" data-toggle="tab" href="#four" role="tab" aria-controls="four-tab" aria-selected="false">-->
                        <!--            <i class="icofont-train-line"></i>-->
                        <!--            <span>Bus</span>-->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--</ul> -->

                    </div>
                    <!-- end banner content -->
                </div>
                <!-- end column -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end single rt banner -->
</section>


<!-- /.spacer-top -->
<section class="rtbgprefix-full bg-hide-md gradinet-bg-md" style="background-image: url({% static 'bis/images/backgrounds/bgshapes_1.png' %})">
    <div class="container">
<div class="spacer-top"></div>
        <!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-12">
                <ul class="filter-list">
                    <li data-filter="*" class="active ">All</li>
                    <li data-filter=".Port-au-Prince">Port-au-Prince</li>
                    <li data-filter=".Gonaïves">Gonaïves</li>
                    <li data-filter=".Saint-Marc">St Marc</li>
                    <li data-filter=".Cap-Haïtien">Cap Haitien</li>
                    <li data-filter=".Ennery">Ennery</li>
                    <li data-filter=".Jérémie">Jérémie</li>
                    <!--<li data-filter=".cat-5">Gros Morne</li>-->
                </ul>
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
        <div class="row grid">
            {% for bus in items %}
            <div class="col-lg-4 col-md-6 grid-item {{bus.get_source_display}} {{bus.get_destination_display}}">
                <div class="portfolio-box-1 wow fade-in-bottom" style="background-image: url({{bus.image.url}}) !important">
                    <div class="rt-overlay"></div>
                    <!-- /.rt-overlay -->
                    <a href="{{bus.get_absolute_url}}"><div class="portfolio-badge">
                        <span>Pour</span>
                        <span><sup>HTG</sup>{{bus.prix}}</span>
                    </div></a>
                    <!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <a href="{{bus.get_absolute_url}}"><h6>{{bus.author.username}}</h6></a>
                        {% if bus.is_taxi == True %}
                        <p> <b>Taxi de {{bus.get_source_display}}</b></p>
                        {% else %}
                        <p> <span>{{bus.get_source_display}}</span> pour <span>{{bus.get_destination_display}}</span></p>
                        {% endif %}
                        
                    </div>
                    <!-- /.inner-content -->
                </div>
                <!-- /.portfolio-box-1 -->
            </div>
           {% endfor %}
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12 text-center mt-4">
                <a href="{% url 'passengers:search_bus' %}" class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-1">Voir Plus</a>
                <!-- /.rt-btn -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- 
    ======== Flight deals start======
 -->

<!-- 
    ===========Services Area start==========
 -->
 
 <div class="spacer-top"></div>
<!-- /.spacer-top -->

<section class="flight-dela-area" data-scrollax-parent="true">
    <div class="rt-shape-emenetns-1" style="background-image: url({% static 'bis/images/shape-elements/shape_1.png' %})" data-scrollax="properties: { translateY: '340px' }"></div>
    <!-- /.rt-shape-emenetns-1 -->
    <div class="rt-shape-emenetns-2" style="background-image: url({% static 'bis/images/shape-elements/shape-2.png' %})" data-scrollax="properties: { translateX: '-140px' }"></div>
    <!-- /.rt-shape-elemenets2 -->
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>EXPLOREZ LES TOP DESTINATIONS</span> Meilleures offres de voyage aller-retour
                    </h2>
                    <!-- /.rt-section-title -->
                    <p>
                        Laissez-vous inspirer, trouvez les meilleures offres et commencez un voyage inoubliable. Vous recherchez les meilleures offres de Bus pour votre prochain voyage? Trouvez les meilleures offres Bushaiti mises à jour quotidiennement pour réserver des Bus les moins cher jusqu'à 15% de réduction sur le prix moyen.
                    </p>
                </div>
                <!-- /.rt-section-title-wrapper -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
        <div class="section-title-spacer"></div>
        <!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-xl-8 col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <form action="{% url 'passengers:offre' %}" method="get" id="myform">
                             <input type="text" class="form-control" name="destination" value="Port-au-Prince" hidden />
                        <a href="#" onclick="document.getElementById('myform').submit()" class="flight-box wow fade-in-bottom" data-wow-duration="1s" data-wow-delay=".02s" href="#" style="background-image: url({% static 'bis/images/flights/flt_1.jpg' %})">
                            <div class="rt-inner-overlay color_1"></div>
                            <!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Voyage à
                                </span>
                                <span>
                                    Port-au-Prince
                                </span>
                            </div>
                            <!-- /.trip-to -->
                            <div class="trip-form">
                                <span>3h</span>
                                <span>1100 HTG</span>
                            </div>
                            <!-- /.trip-form -->
                        </a>
                        <!-- /.flight-box -->
                        </form>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class=" col-md-6">
                         <form action="{% url 'passengers:offre' %}" method="get" id="myform1">
                             <input type="text" class="form-control" name="destination" value="Gonaives" hidden />
                        <a href="#" onclick="document.getElementById('myform1').submit()" class="flight-box wow fade-in-bottom" data-wow-duration="1.3s" data-wow-delay=".04s" style="background-image: url({% static 'bis/images/flights/flt_2.jpg' %})">
                            <div class="rt-inner-overlay color_2"></div>
                            <!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Voyage à
                                </span>
                                <span>
                                    Gonaives
                                </span>
                            </div>
                            <!-- /.trip-to -->
                            <div class="trip-form">
                                <span>2h</span>
                                <span>750 HTG</span>
                            </div>
                            <!-- /.trip-form -->
                        </a>
                        <!-- /.flight-box -->
                        </form>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <form action="{% url 'passengers:offre' %}" method="get" id="myform2">
                             <input type="text" class="form-control" name="destination" value="J&eacute;r&eacute;mie" hidden />
                        <a href="#" onclick="document.getElementById('myform2').submit()" class="flight-box wow fade-in-bottom" data-wow-duration="1.6s" data-wow-delay=".06s" href="#" style="background-image: url({% static 'bis/images/flights/flt_3.jpg' %})">
                            <div class="rt-inner-overlay color_3"></div>
                            <!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Voyage à
                                </span>
                                <span>
                                    J&eacute;r&eacute;mie
                                </span>
                            </div>
                            <!-- /.trip-to -->
                            <div class="trip-form">
                                <span>3h</span>
                                <span>1000 HTG</span>
                            </div>
                            <!-- /.trip-form -->
                        </a>
                        <!-- /.flight-box -->
                        </form>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <form action="{% url 'passengers:offre' %}" method="get" id="myform3">
                             <input type="text" class="form-control" name="destination" value="Cap Haitien" hidden />
                        <a href="#" onclick="document.getElementById('myform3').submit()" class="flight-box wow fade-in-bottom" data-wow-duration="1.9s" data-wow-delay=".08s" href="#" style="background-image: url({% static 'bis/images/flights/flt_4.jpg' %})">
                            <div class="rt-inner-overlay color_4"></div>
                            <!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Voyage à
                                </span>
                                <span>
                                    Cap Haitien
                                </span>
                            </div>
                            <!-- /.trip-to -->
                            <div class="trip-form">
                                <span>3h:45</span>
                                <span>1300 HTG</span>
                            </div>
                            <!-- /.trip-form -->
                        </a>
                        <!-- /.flight-box -->
                        </form>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <form action="{% url 'passengers:offre' %}" method="get" id="myform4">
                             <input type="text" class="form-control" name="destination" value="Cayes" hidden />
                        <a href="#" onclick="document.getElementById('myform4').submit()" class="flight-box wow fade-in-bottom" data-wow-duration="2.2s" data-wow-delay=".010s" href="#" style="background-image: url({% static 'bis/images/flights/flt_5.jpg' %})">
                            <div class="rt-inner-overlay color_5"></div>
                            <!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Voyage à
                                </span>
                                <span>
                                    Les Cayes
                                </span>
                            </div>
                            <!-- /.trip-to -->
                            <div class="trip-form">
                                <span>4h</span>
                                <span>1500 HTG</span>
                            </div>
                            <!-- /.trip-form -->
                        </a>
                        <!-- /.flight-box -->
                        </form>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <form action="{% url 'passengers:offre' %}" method="get" id="myform5">
                             <input type="text" class="form-control" name="destination" value="Ennery" hidden />
                        <a href="#" onclick="document.getElementById('myform5').submit()" class="flight-box wow fade-in-bottom" data-wow-duration="2.6s" data-wow-delay=".12s" href="#" style="background-image: url({% static 'bis/images/flights/flt_6.jpg' %})">
                            <div class="rt-inner-overlay color_6"></div>
                            <!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Voyage à
                                </span>
                                <span>
                                    Ennery
                                </span>
                            </div>
                            <!-- /.trip-to -->
                            <div class="trip-form">
                                <span>2h</span>
                                <span>520 HTG</span>
                            </div>
                            <!-- /.trip-form -->
                        </a>
                        <!-- /.flight-box -->
                        </form>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-12 text-center mt-4">
                        <a href="#" class="rt-btn rt-gradient rt-sm text-uppercase rt-rounded rt-Bshadow-2">Voir Plus</a>
                        <!-- /.rt-btn -->
                    </div>
                    <!-- /.col-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="emigr-services-area rtbgprefix-contain" style="background-image: url({% static 'bis/images/backgrounds/dotbg.png' %})">
    <div class="spacer-bottom"></div>
    <!-- /.spacer-bottom -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>POURQUOI choisir Bushaiti?</span> Nos valeurs fondamentales
                    </h2>
                    <!-- /.rt-section-title -->
                    <p>La platforme BusHaiti est concu pour vous, en tant que passagers et companies, si vous etes un passager vous pouvez acheter toutes vos tickets de bus selon votre position et si vous avez une companie bus, vous pouvez aussi l'enregistrer et ensuite vous n'aurez qu'a ajouter vos bus ainsi que les horaires!</p>
                </div>
                <!-- /.rt-section-title-wrapper- -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="section-title-spacer"></div>
        <!-- /.section-title-spacer -->
        <!-- 
    ========= Counter Start ========================
 -->
<div class="counter-area">
    <div class="container">
        <div class="row">



            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center wow fadeInUp">
                    <img src="{% static 'bis/images/counter-icons/counter_iocn_1.png' %}" alt="counter_iocn" draggable="false">
                    <div class="media-body">
                        <h5>Membres</h5>
                        <h6><span class="counter">90,000</span><span>+</span></h6>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center wow fadeInUp" data-wow-duration="1.5s">
                    <img src="{% static 'bis/images/counter-icons/counter_iocn_2.png' %}" alt="counter_iocn" draggable="false">
                    <div class="media-body">
                        <h5>Companies</h5>
                        <h6><span class="counter">2,00</span></h6>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center wow fadeInUp" data-wow-duration="2s">
                    <img src="{% static 'bis/images/counter-icons/counter_iocn_3.png' %}" alt="counter_iocn" draggable="false">
                    <div class="media-body">
                        <h5>Satisfactions</h5>
                        <h6><span class="counter">80,000</span><span>+</span></h6>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.counter -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="services-box-1 wow fade-in-bottom">
                    <div class="services-thumb">
                        <img src="{% static 'bis/images/service-icons/s_icon_1.png' %}" alt="" draggable="false">
                    </div>
                    <!-- /.services-thumb -->
                    <h4>Accommodation</h4>
                    <p>Peu importe où vous voyagez, Bushaiti est là pour vous aider à obtenir les meilleures offres Buss à travers le pays.</p>
                </div>
                <!-- /.services-box-1 -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="services-box-1 wow fade-in-bottom" data-wow-duration="1.5s">
                    <div class="services-thumb">
                        <img src="{% static 'bis/images/service-icons/s_icon_2.png' %}" alt="" draggable="false">
                    </div>
                    <!-- /.services-thumb -->
                    <h4>Transportation</h4>
                    <p>Whether you are travelling through Air, Sea or Land, Bushaiti can arrange transportation according to.</p>
                </div>
                <!-- /.services-box-1 -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="services-box-1 wow fade-in-bottom" data-wow-duration="2s">
                    <div class="services-thumb">
                        <img src="{% static 'bis/images/service-icons/s_icon_3.png' %}" alt="" draggable="false">
                    </div>
                    <!-- /.services-thumb -->
                    <h4>Expert Trip Planning</h4>
                    <p>Our Talented and Expert Trip Planning Team can make itinerary that suits our clients the best. We will make your travel</p>
                </div>
                <!-- /.services-box-1 -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- /.spacer-bottm -->
</section>


<!-- 
    ============Deal Area Start===============
 -->


<!--<section class="deal-area   rtbgprefix-full bg-hide-md" style="background-image: url({% static 'bis/images/backgrounds/bgshapes_1.png' %})">-->
<!--    <div class="container-fluid p-0">-->
<!--        <div class="deal-carosel-active owl-carousel">-->
<!--            {% for bus in items %}-->
            <!-- /.row -->
<!--            <div class="row single-deal-carosel align-items-center">-->
<!--                <div class="col-lg-5">-->
<!--                    <div class="deal-bg" style="background-image: url({{bus.image.url}})">-->
<!--                        <div class="inner-content">-->
<!--                            <h4 data-animation="fadeInDown" data-duration=".2s" data-delay=".4s">{{bus.author.username}}</h4>-->
<!--                            <p data-animation="fade-in-bottom" data-duration=".2s" data-delay=".4s">Grab a promo code for extra savings up to 75% on discounted Buss!</p>-->
<!--                        </div>-->
                        <!-- /.inner-content -->
<!--                    </div>-->
                    <!-- /.deal-bg -->
<!--                </div>-->
                <!-- /.col-md-6 -->
<!--                <div class="col-lg-7">-->
<!--                    <div class="rt-section-title-wrapper text-white" data-animation="fadeIn" data-duration=".4s">-->
<!--                        <h2 class="rt-section-title">-->
<!--                            {{bus.author.username}}-->
<!--                        </h2>-->
                        <!-- /.rt-section-title -->
<!--                        <p>Find great experiences, trips, and activities at fantastic prices around the globe.</p>-->
<!--                        <div class="section-title-spacer"></div>-->
                        <!-- /.section-title-spacer -->
<!--                        <div class="deal-bottom-content">-->
<!--                            <div class="rating-box">-->
<!--                                <span class="d-block">EXCELLENT</span>-->
<!--                                <span class="d-block"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>  of 205 Reviews</span>-->
<!--                                <span class="d-block">{{bus.get_source_display}} -pour- {{bus.get_destination_display}}</span>-->
<!--                            </div>-->
                            <!-- /.rating-box -->
<!--                            <div class="section-title-spacer"></div>-->
                            <!-- /.section-title-spacer -->
<!--                            <h4>{{bus.name}} -- {{bus.time}}</h4>-->
<!--                            <p>-->
<!--                                {{bus.description}}-->
<!--                            </p>-->
<!--                            <div class="rt-button-group">-->
<!--                                <a href="{{bus.get_absolute_url}}" class="rt-btn rt-gradient rt-rounded rt-Bshadow-2">Visionner</a>-->
<!--                                <a href="#" class="rt-btn rt-outline-gradientL rt-rounded">Centre d'aide</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- /.deal-bottom-content -->
<!--                    </div>-->
                    <!-- /.rt-section-title-wrapper -->
<!--                </div>-->
                <!-- /.col-md-6 -->
<!--            </div>-->
            <!-- /.row -->
<!--            {% endfor %}-->
<!--        </div>-->
        <!-- /.deal-carosel-active -->
<!--    </div>-->
    <!-- /.container -->
<!--</section>-->
<!-- 
    ========works start==========
 -->
<!--<div class="spacer-top"></div>-->
<!-- /.spacer-top -->
<!--<section class="works-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-xl-10 text-center mx-auto text-center">-->
<!--                <div class="rt-section-title-wrapper">-->
<!--                    <h2 class="rt-section-title">-->
<!--                        <span>Here's How It Works</span> Getting Started? It’s Simple-->
<!--                    </h2>-->
                    <!-- /.rt-section-title -->
<!--                    <p>Prepare For Your Trip.Find out all you need to know before you go.Traveling is as unique as you are. And there is no one package that fits all. That's why we offer customized travel packages.</p>-->
<!--                </div>-->
                <!-- /.rt-section-title-wrapper- -->
<!--            </div>-->
            <!-- /.col-lg-12 -->
<!--        </div>-->
        <!-- /.row -->
<!--        <div class="section-title-spacer"></div>-->
        <!-- /.section-title-spacer -->
<!--        <div class="row">-->
<!--            <div class="col-lg-3 col-md-6 mx-auto text-center">-->
<!--                <div class="services-box-2 wow fade-in-bottom">-->
<!--                    <div class="services-thumb">-->
<!--                        <img src="{% static 'bis/images/service-icons/s_icon_4.png' %}" alt="service-icons" draggable="false">-->
<!--                    </div>-->
                    <!-- /.services-thumb -->
<!--                    <span class="inner-counter"></span>-->
<!--                    <h4>Search</h4>-->
<!--                    <p>Over 1,200,000 Buss, Apartments and Hostels</p>-->
<!--                </div>-->
                <!-- /.services-box-2 -->
<!--            </div>-->
            <!-- /.col-lg-3 -->
<!--            <div class="col-lg-3 col-md-6 mx-auto text-center">-->
<!--                <div class="services-box-2 wow fade-in-bottom" data-wow-duration="1s">-->
<!--                    <div class="services-thumb">-->
<!--                        <img src="{% static 'bis/images/service-icons/s_icon_5.png' %}" alt="service-icons" draggable="false">-->
<!--                    </div>-->
                    <!-- /.services-thumb -->
<!--                    <span class="inner-counter"></span>-->
<!--                    <h4>Compare & Book</h4>-->
<!--                    <p>By price, location, rating and more.</p>-->
<!--                </div>-->
                <!-- /.services-box-2 -->
<!--            </div>-->
            <!-- /.col-lg-3 -->
<!--            <div class="col-lg-3 col-md-6 mx-auto text-center">-->
<!--                <div class="services-box-2 wow fade-in-bottom" data-wow-duration="1.5s">-->
<!--                    <div class="services-thumb">-->
<!--                        <img src="{% static 'bis/images/service-icons/s_icon_6.png' %}" alt="service-icons" draggable="false">-->
<!--                    </div>-->
                    <!-- /.services-thumb -->
<!--                    <span class="inner-counter"></span>-->
<!--                    <h4>Get travel insurance</h4>-->
<!--                    <p>Buy comprehensive cover for your next trips</p>-->
<!--                </div>-->
                <!-- /.services-box-2 -->
<!--            </div>-->
            <!-- /.col-lg-3 -->
<!--            <div class="col-lg-3 col-md-6 mx-auto text-center">-->
<!--                <div class="services-box-2 wow fade-in-bottom" data-wow-duration="2s">-->
<!--                    <div class="services-thumb">-->
<!--                        <img src="{% static 'bis/images/service-icons/s_icon_7.png' %}" alt="service-icons" draggable="false">-->
<!--                    </div>-->
                    <!-- /.services-thumb -->
<!--                    <span class="inner-counter"></span>-->
<!--                    <h4>Book a room</h4>-->
<!--                    <p>By finding the best price for your ideal Bus.</p>-->
<!--                </div>-->
                <!-- /.services-box-2 -->
<!--            </div>-->
            <!-- /.col-lg-3 -->
<!--            <div class="col-12 text-center mt-4">-->
<!--                <a href="#" class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-2">Acheter ticket</a>-->
                <!-- /.rt-btn -->
<!--            </div>-->
            <!-- /.col-12 -->
<!--        </div>-->
        <!-- /.row -->
<!--    </div>-->
    <!-- /.container -->
<!--</section>-->
<!-- 
    ============ Portfolio Start===============
 -->


<!-- 
    ====== call to action======
 -->


<div class="spacer-top"></div>
<!-- /.spacer-top -->
<section class="rt-cta-area">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-box-1 d-flex flex-lg-row flex-column align-items-center text-center text-lg-left justify-content-lg-between rtbgprefix-cover text-white justify-content-center" style="background-image: url({% static 'bis/images/backgrounds/cat_1.jpg' %})">
                    <div class="left-column">
                        <h4 class="wow fade-in-top" data-wow-duration="1s" data-wow-delay="0.2s">
                            Vous ne savez pas quoi faire? <span>comment ca fontionne!?</span>
                        </h4>
                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.2s">
                            Comprendre un peu plus!!?
                        </p>
                    </div>
                    <!-- /.left-column -->
                    <div class="right-column">
                        <a href="{% url 'howork' %}" class="rt-btn rt-gradient rt-sm text-uppercase rt-rounded rt-Bshadow-2 wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.6s">Voir Plus</a>
                        <!-- /.rt-btn -->
                    </div>
                    <!-- /.right-column -->
                </div>
                <!-- /.inner-content -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</section>


<!-- 
    =======app area strat=========
 -->

<div class="spacer-top"></div>
<!-- /.spacer-top -->


<section class="app-area rtbgprefix-cover" style="background-image: url({% static 'bis/images/backgrounds/app_bg.png' %})" data-scrollax-parent="true">
    <div class="rt-shape-elements-1 rtbgprefix-contain" style="background-image: url({% static 'bis/images/shape-elements/shape-3.png' %})" data-scrollax="properties: { translateY: '50px' }"></div>
    <!-- /.rt-shape-elements-1 -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center text-lg-left">
                <img src="{% static 'bis/images/all-img/app-mbl.png' %}" alt="mockup image" draggable="false" class="wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.2s">
            </div>
            <!-- /.col-lg-5 -->
            <div class="col-lg-7">
                <div class="rt-section-title-wrapper">
                    <div class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.6s">
                        <h2 class="rt-section-title">
                            <span>BusHaiti App Mobile.</span> T&eacute;l&eacute;charger
                        </h2>
                        <!-- /.rt-section-title -->
                        <p>
                            Tous vos projets de voyage, en un seul endroit.
                            Vous gérez la réservation. Accédez aux réservations, aux cartes et plus encore sur votre appareil préféré! Consultez les destinations tendances. 
                            Découvrez les voyages populaires. Gérer un voyage n'a jamais été aussi simple.

                        </p>
                        <br>
                        <p>
                            Téléchargez l'application Bushaiti et rejoignez notre communauté toujours grandissante de voyageurs passionnés.
                        </p>
                    </div>
                    <!-- /.wow -->
                    <div class="rt-button-group mt-5 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.9s">
                        <a href="#" class="rt-btn rt-app-parimary rt-rounded">
                            <div class="app-thumb">
                                <i class="fab fa-google-play"></i>
                            </div>
                            <!-- /.app-thumb -->
                            <div class="app-text">
                                <span>GET IT ON</span>
                                <span>PlayStore</span>
                            </div>
                            <!-- /.app-text -->
                        </a>
                        <a href="#" class="rt-btn rt-app-secondary rt-rounded">
                            <div class="app-thumb">
                                <i class="fab fa-apple"></i>
                            </div>
                            <!-- /.app-thumb -->
                            <div class="app-text">
                                <span>GET IT ON</span>
                                <span>AppStore</span>
                            </div>
                            <!-- /.app-text -->
                        </a>
                    </div>
                    <!-- /.rt-button-group -->
                </div>
                <!-- /.rt-section-title-wrapper -->
            </div>
            <!-- /.col-lg-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- 
    ============= video area start==========
 -->

<div class="play-video rtbgprefix-full bg-hide-md" style="background-image: url({% static 'bis/images/backgrounds/videobg.png' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="play-video-box rtbgprefix-cover" style="background-image: url({% static 'bis/images/backgrounds/play-video-bg.png' %})">
                    <a href="https://vimeo.com/310740632" class="rt-btn rt-video-light playVideo"></a>
                </div>
                <!-- /.play-video-box -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<!-- 
    ============= Testimonilas area start==========
 -->
<section class="testimonials-area" data-scrollax-parent="true">
    <div class="rt-shape-emenetns-1" style="background-image: url({% static 'bis/images/shape-elements/shape-4.png' %})" data-scrollax="properties: { translateY: '-140px' }"></div>
    <!-- /.rt-shape-emenetns-1 -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        <span>testimonials</span> Ce que disent nos clients
                    </h2>
                    <!-- /.rt-section-title -->
                    <p>
                        Nous avons de nombreux clients satisfaits qui ont réservé des vacances avec nous. Quelques impressions de nos clients! Veuillez lire quelques-unes des belles choses que disent nos clients
                    </p>
                </div>
                <!-- /.rt-section-title-wrapper -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
        <div class="section-title-spacer"></div>
        <!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="testimoninal-active-1">
                    {% for t in testi %}
                    <div class="singleTbox-1 text-center {% if forloop.first %}active{%endif%} position-1" data-position="position-{{t.id}}">
                        <div class="testi-thumb">
                            <div class="inner-bg" style="background-image: url({{t.user.profile.photo.url}})"></div>
                            <!-- /.inner-bg -->
                            <span class="social-badge"><i class="fab fa-linkedin-in"></i></span>
                        </div>
                        <!-- /.testi-thumb -->
                        <div class="autor-bio">
                            <h5>{{t.user.username}}</h5>
                            <p>{{t.date|timesince}}</p>
                            <span class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <!-- /.autor-bio -->
                        <div class="inner-content">
                            <p>
                                {{t.message}}
                            </p>
                        </div>
                        <!-- /.inner-content -->
                    </div>
                    {% endfor %}
                    <!-- /.singleTbox-1 -->
                </div>
                <!-- /.testimoninal-active-1 -->
            </div>
            <!-- /.col-lg-7 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12 text-center mt-4">
                <a href="{% url 'testi' %}" class="rt-btn rt-gradient text-uppercase rt-sm rt-rounded rt-Bshadow-1">Ajouter</a>
                <!-- /.rt-btn -->
            </div>
            <!-- /.col-12 -->
        </div>
        <div class="rt-divider style-one rt-margin-top"></div>
        <!-- /.divider -->
    </div>
    <!-- /.containe -->
</section>


<!-- 
    ============= Brands area start==========
 -->


<div class="spacer-top"></div>
<!-- /.spacer-top -->
<!--<section class="brands-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-9 mx-auto text-center">-->
<!--                <div class="rt-section-title-wrapper">-->
<!--                    <h2 class="rt-section-title">-->
<!--                        <span>Take a Look at Our</span> Trusted Partners-->
<!--                    </h2>-->
                    <!-- /.rt-section-title -->
<!--                    <p>-->
<!--                        We are committed to being the best partner.Bushaiti believes in being your trusted partner and earning that trust through confidence and performance in service and support.-->
<!--                    </p>-->
<!--                </div>-->
                <!-- /.rt-section-title-wrapper -->
<!--            </div>-->
            <!-- /.col-lg-9 -->
<!--        </div>-->
        <!-- /.row -->
<!--        <div class="section-title-spacer"></div>-->
        <!-- /.section-title-spacer -->
<!--        <div class="row">-->
<!--            <div class="col-lg-9 mx-auto">-->
<!--                <ul class="rt-border-brands">-->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block">-->
<!--                            <img src="{% static 'bis/images/brands/brands-1.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="1s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-2.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="1.5s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-3.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="2s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-4.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="2.5s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-4.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="3s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-3.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="3.5s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-2.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                    <li class="single-border-brands">-->
<!--                        <a href="#" class="wow flipInX d-block" data-wow-duration="4s">-->
<!--                            <img src="{% static 'bis/images/brands/brands-1.png' %}" alt="brands image" draggable="false">-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- /.single-border-brands -->
<!--                </ul>-->
                <!-- /.rt-border-brands -->
<!--            </div>-->
            <!-- /.col-lg-7 -->
<!--        </div>-->
        <!-- /.row -->
<!--    </div>-->
    <!-- /.containe -->
<!--</section>-->

{% endblock %}