{% extends 'bis/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({% static 'bis/images/backgrounds/bredcump.png' %})">
    </div>
    <!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>Mes ticketsBus</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="#" title="Acceuil">Acceuil</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span> mes tickets

                    </div>
                    <!-- /.breadcrumbs -->
                </div>
                <!-- /.breadcrumbs-content -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.rt-bredcump -->

<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="rt-strong text-uppercase rt-mb-20"> Listes de vos tickets </h4>
            </div>
            <!-- /.col-12 -->
            <div class="col-xl-9">
                

                <!--<div class="section-title-spacer"></div>-->
                <!-- /.flt-dtls-box -->
                {% if not request.user.is_authenticated %}
                <div class="flight-list-box rt-mb-30 ask-for-login d-md-flex flex-md-row justify-content-md-between align-items-center pt-30">
                    <div class="left">
                        <h6 class="rt-strong">Déjà membre BusHaiti?</h6>
                        <p>Connectez-vous pour gagner des points et faciliter la réservation!</p>
                    </div>
                    <!-- /.left -->
                    <div class="right">
                        <a href="#" class="link-text rt-strong f-size-14" data-toggle="modal" data-target="#rtmodal-1">
                            <i class="fa fa-user rt-icon icon-gradinet-1 rt-circle mr-2 rt-hw-35"></i>
                            <!-- /.fa -->Connecter
                        </a>
                    </div>
                    <!-- /.left -->
                </div>
                {% endif %}
                <!-- /.rt-section-title-spacer -->
                <div class="flt-dtls-box rt-mb-30">
                    <div class="upper-top-content d-md-flex flex-md-row justify-content-md-between align-items-center">
                        <div class="left">
                            <span>Mes Tickets</span>

                        </div>
                        <!-- /.left -->
                        <div class="right">
                            <a href="{% url 'passengers:search_bus' %}" class="rt-btn rt-outline-light   pill text-uppercase rt-sm2 rt-mr-5">Autres Bus</a>
                            <!-- <a href="#" class="rt-btn rt-gradient3 rt-Bshadow-3  pill text-uppercase rt-sm2">Update</a> -->
                        </div>
                        <!-- /.right -->
                    </div>
                    <!-- /.upper-top-content -->
                
                
                    <div class="flight-list-box pt-30">
                        <div class="card">
                            <div class="card-body">
                                {% for bus in object.items.all %}
                                <div class="hotel-inner-content row">
                                    <div class="hotel-thumb col-md-3">
                                        <div class="hotel-bg rtbgprefix-cover"
                                            style="background-image: url({{bus.item.image.url}})">
                                            <div class="inner-icon">
                                                <i class="icofont-gift"></i>
                                            </div><!-- /.inner-icon -->
                                        </div>
                                    </div><!-- /.hotel-thumb -->
                                    <div class="hotel-text col-md-9">
                                        <div class="top-2 d-flex flex-column flex-md-row justify-content-md-between rt-mb-20">
                                            <div>
                                                <span class="d-block f-size-12">Depart:</span>
                                                <span class="d-block rt-strong heading-color-1">{{ bus.item.source }}</span>
                                                <!--<span class="d-block f-size-12">From 14:00</span>-->
                                            </div>
                                            <div>
                                                <span class="d-block f-size-12">Destination:</span>
                                                <span class="d-block rt-strong heading-color-1">{{ bus.item.destination }}</span>
                                                <!--<span class="d-block f-size-12">Before 12:00</span>-->
                                            </div>
                                            <div class="text-right">
                                                <span class="d-block rt-medium heading-color-1">Dates & Heures</span>
                                                <span class="d-block"><a href="#">{{bus.item.date_depart}}</a></span>
                                            </div>
                                        </div><!-- /.top-2 -->
        
                                        <div class="rt-divider style-three"></div><!-- /.rt-divider -->
        
                                        <div class="footer3-elements rt-mt-20">
                                            <span class="d-block heading-color-1 rt-strong">{{bus.item.description}}</span> 
        
                                            <div class="clearfix f-size-12 text-555"><span class="float-left ">nombres de billets</span> <span class="float-right">{{ bus.quantity }}</span></div>
                                            <span class="float-right"><a href="{% url 'passengers:remove-ticket' bus.item.slug %}" class="rt-btn  pill rt-gradient text-uppercase">Effac&eacute;</a></span>
                                        </div>
                                    </div><!-- /.footer3-elements -->
                                </div><!-- /.hotel-text -->
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.flight-list-box -->
            </div>
            <!-- /.col-lg-9 -->
            <div class="col-lg-3 mx-auto">
                <div class="rt-sidebar-group">
                    <div class="rt-widget final-booking">

                        <ul>
                            <!-- {% for order_item in order.items.all %}
                            <li class="clearfix">
                                <span>{{ order_item.item.name }} <strong class="product-quantity"> × {{ order_item.quantity }}</strong></span>
                                <span class="float-right">£ 435.2</span>
                            </li>
                            {% endfor %} -->
                            <li class="clearfix sub-total">

                                <span>Total</span>
                                <span class="float-right">{{ object.get_total }} <small>Gourdes</small></span>
                            </li>

                        </ul>
                        <div class="text-center rt-mb-30">
                            {% if object.get_total < 1 %}
                            <a href="#" class="rt-btn rt-gradient pill rt-sm2" style="background-color: grey">Payer</a>
                            {% else %}
                            <a href="{% url 'passengers:checkout' %}" class="rt-btn rt-gradient pill rt-sm2">Payer</a>
                            {% endif %}
                        </div>
                        <!-- /.text-center -->
                        <p class="f-size-12 line-height-12">En poursuivant, je reconnais avoir lu et accepté BusHaiti
                            <a href="#">Terms of Use</a> and <a href="#">Privacy Statement.</a></p>
                    </div>
                    <!-- /.rt-widget -->

                    <div class="plain-box pl-md-3">
                        <p class="rt-strong">Payment Method</p>
                        <div class="rt-footer-social">
                            <ul>
                                <li>
                                    <a href="#"><img src="{% static 'bis/images/brands/card-1.png' %}" alt="cardimage" draggable="false"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'bis/images/brands/card-2.png' %}" alt="cardimage" draggable="false"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'bis/images/brands/card-3.png' %}" alt="cardimage" draggable="false"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'bis/images/brands/card-4.png' %}" alt="cardimage" draggable="false"></a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'bis/images/brands/card-5.png' %}" alt="cardimage" draggable="false"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /.plain-box -->
                </div>
                <!-- /.rt-sidebar-group -->
            </div>
            <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


{% endblock %}