{% extends 'bis/base.html' %} {% block title %}BusHaiti | Error 403 {% endblock %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<div class="section-title-spacer"></div>

<section class="404-content-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{% static 'bis/images/all-img/abt_vec_2.png' %}" alt="403 image" class="rt-mb-30" draggable="false">
                    <h3 class="rt-semiblod rt-mb-15">
                        Oups ... Un problème est survenu 😭!
                    </h3>
                    <p class="rt-mb-30">N'oubliez pas de nous envoyer un message de ce problème!!.</p>
                    <a href="{% url 'contact' %}" class="rt-btn rt-gradient pill text-uppercase">Nous Contactez</a>
            </div><!-- ./column -->
        </div><!-- ./row -->
    </div><!-- ./ copntainer -->
</section>
{% endblock %}
